---
layout: default
---
<!-- Nav -->
<nav id="nav">
	<ul class="container">
		<li>
			<a href="/#top">Home</a>
		</li>
		<li>
			<a href="/#work">Work</a>
		</li>
		<li>
			<a href="/#portfolio">Portfolio</a>
		</li>
		<li>
			<a href="#contact">Contact</a>
		</li>
	</ul>
</nav>

<!-- Content -->
<div class="wrapper style1">
	<article>
		<header>
            <h2>{{ page.title }}</h2>
            <h3>{{ page.display-date }}</h3>
		</header>
		<div class="container post">
			{{ content }}
        </div>
        <footer><a href="/"><< Back</a></footer>
	</article>
</div>